{% extends 'base.html.twig' %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {% if editMode %}
        <h1> Modification de l'article </h1>
    {% else %}
        <h1> Création d'un article </h1>
    {% endif %}

    {{ form_start(formArticle) }}

    {{ form_row(formArticle.Titre, {'attr': {'placeholder': "Titre du projet"}}) }}
    {{ form_row(formArticle.category) }}
    {{ form_row(formArticle.Description, {'attr': {'placeholder': "Description du projet"}}) }}
    {{ form_row(formArticle.image, {'attr': {'placeholder': "Image du projet"}}) }}
    {{ form_row(formArticle.Auteur, {'attr': {'placeholder': "Auteur du projet"}}) }}

    <button type="submit" class="btn btn-success">
       {% if editMode %}
        Modifier les modifications
        {% else %}
        Ajouter le projet
        {% endif %}
    </button>

    {{  form_end(formArticle) }}
{% endblock %}

{% block title %}

{% endblock %}